Discord_Summarizer.json
{
  "name": "Discord Summarizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7,18 * * *"
            }
          ]
        }
      },
      "id": "550e8400-e29b-41d4-a716-446655440001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://discord.com/api/v10/guilds/798572456201682994/channels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bot TVUJ_BOT_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "id": "550e8400-e29b-41d4-a716-446655440002",
      "name": "Nacti seznam kanalu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "const channels = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.lastIds) staticData.lastIds = {};\n\n// Discord epoch pro výpočet snowflake\nconst DISCORD_EPOCH = 1420070400000n;\nconst twelveHoursAgo = BigInt(Date.now() - 12 * 60 * 60 * 1000);\nconst defaultSnowflake = String((twelveHoursAgo - DISCORD_EPOCH) << 22n);\n\n// Přeskočit tyto kanály (soukromé, admin, archiv, log, nsfw)\nconst SKIP_NAMES = [\n  'moderátoři', 'cbh-moderators', 'testovací-kanál', 'nastavení-botů',\n  'log-pristup', 'log-zprávy', 'log', 'fve-soukrome', 'stream-chat-uzavřeno-archivní',\n  'midjourney-bot', 'párty_21-05-29', 'bazar-old', 'pikle', 'ymovie-ascc',\n  'ebooks-for-vip', 'vlákna🧵📌', 'olé-dezolé', 'kanál-nsfw'\n];\n\n// Typ 0 = textový kanál, typ 5 = announcement kanál\n// Přeskočit type 2 (hlas), 4 (kategorie), 13 (stage), 15 (forum)\nconst textChannels = channels\n  .filter(ch => (ch.type === 0 || ch.type === 5) && !ch.nsfw)\n  .filter(ch => !SKIP_NAMES.includes(ch.name))\n  .map(ch => ({\n    channelId: ch.id,\n    channelName: ch.name,\n    after: staticData.lastIds[ch.id] || defaultSnowflake\n  }));\n\nreturn textChannels.map(ch => ({ json: ch }));"
      },
      "id": "550e8400-e29b-41d4-a716-446655440003",
      "name": "Filtruj textove kanaly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://discord.com/api/v10/channels/{{ $json.channelId }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "after",
              "value": "={{ $json.after }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bot TVUJ_BOT_TOKEN"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "550e8400-e29b-41d4-a716-446655440004",
      "name": "Nacti zpravy kanalu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $json;\nconst channelId = $('Filtruj textove kanaly').item.json.channelId;\nconst channelName = $('Filtruj textove kanaly').item.json.channelName;\n\n// Pokud API vrátilo chybu (403 = nemáme přístup), přeskoč\nif (!Array.isArray(response)) {\n  return { json: { channelId, channelName, text: '', hasMessages: false, lastId: null } };\n}\n\nconst messages = response;\nif (messages.length === 0) {\n  return { json: { channelId, channelName, text: '', hasMessages: false, lastId: null } };\n}\n\n// Seřaď chronologicky\nconst sorted = [...messages].sort((a, b) => {\n  const aId = BigInt(a.id);\n  const bId = BigInt(b.id);\n  return aId < bId ? -1 : aId > bId ? 1 : 0;\n});\n\nconst lastId = sorted[sorted.length - 1].id;\n\n// Filtruj boty a prázdné zprávy\nconst text = sorted\n  .filter(m => !m.author?.bot && m.content && m.content.trim().length > 0)\n  .map(m => {\n    const time = new Date(m.timestamp).toLocaleTimeString('cs-CZ', { hour: '2-digit', minute: '2-digit' });\n    return `[${time}] ${m.author.username}: ${m.content.trim()}`;\n  })\n  .join('\\n');\n\n// Ulož poslední ID\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.lastIds) staticData.lastIds = {};\nif (lastId) staticData.lastIds[channelId] = lastId;\n\nreturn { json: { channelId, channelName, text, hasMessages: text.length > 0, lastId } };"
      },
      "id": "550e8400-e29b-41d4-a716-446655440005",
      "name": "Zpracuj zpravy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst hasAny = items.some(i => i.json.hasMessages);\n\nif (!hasAny) {\n  return [{ json: { hasMessages: false, combined: '', timestamp: '' } }];\n}\n\nconst parts = items\n  .filter(i => i.json.hasMessages)\n  .map(i => `## #${i.json.channelName}\\n${i.json.text}`);\n\n// Limit 20k znaků kvůli nákladům na API\nconst combined = parts.join('\\n\\n---\\n\\n').substring(0, 20000);\nconst now = new Date().toLocaleString('cs-CZ', { timeZone: 'Europe/Prague' });\nconst channelCount = items.filter(i => i.json.hasMessages).length;\n\nreturn [{ json: { hasMessages: true, combined, timestamp: now, channelCount } }];"
      },
      "id": "550e8400-e29b-41d4-a716-446655440006",
      "name": "Agreguj",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "550e8400-e29b-41d4-a716-446655440099",
              "leftValue": "={{ $json.hasMessages }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "550e8400-e29b-41d4-a716-446655440007",
      "name": "Jsou zpravy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "TVUJ_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 1024, messages: [{ role: 'user', content: 'Jsi asistent který vytváří přehledná shrnutí Discord konverzací v češtině.\\n\\nShrň tyto zprávy z Discord serveru IoT CZ stručně a přehledně. Pro každý kanál kde se něco dělo uveď krátký souhrn. Zdůrazni: 1) Zajímavé technické diskuze, 2) Otázky které zůstaly nezodpovězeny, 3) Sdílené zajímavé projekty nebo novinky. Pokud se v nějakém kanálu nic zajímavého nestalo, ten kanál vynech.\\n\\nZprávy (' + $json.timestamp + ', ' + $json.channelCount + ' aktivních kanálů):\\n\\n' + $json.combined }] }) }}",
        "options": {}
      },
      "id": "550e8400-e29b-41d4-a716-446655440008",
      "name": "Anthropic - Shrnuti",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "const content = $json.content || [];\nconst summaryText = content.find(c => c.type === 'text')?.text || 'Nepodařilo se vygenerovat shrnutí.';\nconst timestamp = $('Agreguj').first().json.timestamp;\nconst channelCount = $('Agreguj').first().json.channelCount;\n\nconst slackText = `*🤖 IoT CZ Discord Shrnutí — ${timestamp}*\\n_Aktivní kanály: ${channelCount}_\\n\\n${summaryText}`;\nconst discordText = `**🤖 IoT CZ Discord Shrnutí — ${timestamp}**\\n_Aktivní kanály: ${channelCount}_\\n\\n${summaryText}`.substring(0, 1990);\n\nreturn [{ json: { summaryText, slackText, discordText, timestamp } }];"
      },
      "id": "550e8400-e29b-41d4-a716-446655440009",
      "name": "Formatuj vystup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "TVUJ_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ text: $json.slackText }) }}",
        "options": {}
      },
      "id": "550e8400-e29b-41d4-a716-446655440010",
      "name": "Slack - Odesli",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/v10/users/@me/channels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bot TVUJ_BOT_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{ \"recipient_id\": \"467361632775962647\" }",
        "options": {}
      },
      "id": "550e8400-e29b-41d4-a716-446655440011",
      "name": "Discord - Otevri DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bot TVUJ_BOT_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ content: $('Formatuj vystup').first().json.discordText }) }}",
        "options": {}
      },
      "id": "550e8400-e29b-41d4-a716-446655440012",
      "name": "Discord - Posli DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2440, 420]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Nacti seznam kanalu", "type": "main", "index": 0}]]
    },
    "Nacti seznam kanalu": {
      "main": [[{"node": "Filtruj textove kanaly", "type": "main", "index": 0}]]
    },
    "Filtruj textove kanaly": {
      "main": [[{"node": "Nacti zpravy kanalu", "type": "main", "index": 0}]]
    },
    "Nacti zpravy kanalu": {
      "main": [[{"node": "Zpracuj zpravy", "type": "main", "index": 0}]]
    },
    "Zpracuj zpravy": {
      "main": [[{"node": "Agreguj", "type": "main", "index": 0}]]
    },
    "Agreguj": {
      "main": [[{"node": "Jsou zpravy?", "type": "main", "index": 0}]]
    },
    "Jsou zpravy?": {
      "main": [
        [{"node": "Anthropic - Shrnuti", "type": "main", "index": 0}],
        []
      ]
    },
    "Anthropic - Shrnuti": {
      "main": [[{"node": "Formatuj vystup", "type": "main", "index": 0}]]
    },
    "Formatuj vystup": {
      "main": [[
        {"node": "Slack - Odesli", "type": "main", "index": 0},
        {"node": "Discord - Otevri DM", "type": "main", "index": 0}
      ]]
    },
    "Discord - Otevri DM": {
      "main": [[{"node": "Discord - Posli DM", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
